*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%; /* 1rem = 10px */
  --primary-color: #00856F;
  --headline: #212529;
  --paragraph: #495057;
  --white: #fff;
  --brandLigth: #DCE9E2;
  --brandBeige:#FFFAF1;

  --nav-height: 7.2rem;

  --border-card: #DCE9E2;
}
html, 
body{
  width: 100%;
  height: 100%;
}
body{
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;
}

/* GENERAL CLASS */

.wrapper{
  width: 37.5rem;
  margin-inline: auto;
  padding: 2.4rem;
}

ul{
  list-style: none;
}

/* HEADER CSS */
header{
  margin-top: calc(4.1rem + var(--nav-height));
}
header::before{
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brandLigth);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header #welcomeText{
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}
header #titleH1{
  color: var(--headline);
  font-size: 5.2rem;
  line-height: 130%;
  margin-bottom: 2.4rem;
}
header #subTitle{
  font-size: 1.8rem;
  color: var(--paragraph);
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 3.2rem;
}
header .button{
  background-color: var(--primary-color);
  border: none;
  border-radius: 4rem;
  width: 26.3rem;
  height: 5.2rem;
  margin-bottom: 6rem;

  /* about text */

  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--white);
  font-weight: 700;
  line-height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-inline: auto;
}
header img{
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}
header .stats{
  width: 32.7rem;

  padding-block: 4rem;

  margin-inline: auto;

  background-color: var(--brandBeige);
  border-radius: 0.6rem;
  border: 1px solid var(--brandLigth);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

}
.stat h3{
  font-size: 4.8rem;
  color: var(--headline);
  margin-bottom: 0.4rem;
}
.stat p{
  line-height: 130%;
  color: var(--primary-color);
  line-height: 150%;
}

/* NAV CSS */

nav{
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll{
  background-color: var(--primary-color);
  width: 100vw;
}
nav.scroll svg:nth-child(1) path{
  fill: white;
}
nav.scroll button path{
  stroke: white;
}
nav button{
  background: none;
  border: none;
  cursor: pointer;
}

/* MENU EXPANDED */

body.menu-expanded{
  overflow: hidden;
}
.menu, .closeMenu, body.menu-expanded .openMenu{
  opacity: 0;
  visibility: hidden;
  display: none;
}
body.menu-expanded .menu,
body.menu-expanded .closeMenu{
  opacity: 1;
  visibility: visible;
  display: inline;
}
body.menu-expanded .menu{
  position: fixed;
  background: var(--primary-color);
  left: 0;

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
}
body.menu-expanded nav{
  position: relative;
}
body.menu-expanded header, body.menu-expanded section{
  display: none;
}
.menu .optMenu{
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;
}
.menu .optMenu a{
  color: var(--brandBeige);
  text-decoration: none;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}
.menu .button{
  display: flex;
  background-color: var(--white);
  border-radius: 4rem;
  color: var(--primary-color);
  text-decoration: none;

  justify-content: center;
  align-items: center;

  padding: 1.6rem 3.2rem;
  width: 27.4rem;
  height: 5.5rem;
  margin-top: 4.8rem;
  margin-inline: auto;

  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
}
.socialLinks{
  margin-top: 8.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded .closeMenu{
  position: relative;
  z-index: 100;
}
body.menu-expanded .logo path{
  fill: white;
}
body.menu-expanded button path{
  stroke: white;
}

/* Services css */
#services .wrapper header h4{
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08em;
}
#services .wrapper header h2{
  margin-top: 1.4rem;
  font-size: 3.0rem;
  line-height: 3.9rem;
  margin-bottom: 6rem;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 3.2rem;
  padding: 2.4rem;
  gap: 1.6rem;

  background-color: var(--white);
  border-radius: 0.6rem;
  border: 1px solid var(--border-card);
}
#services .wrapper .card h3{
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--headline);
}
#services .wrapper .card h5{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--paragraph);
}
